/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.wrapper {
  position: relative;
  width: 100%;
  height: 45vw;
  object-fit: contain;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 45vw;
  object-fit: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 5%;
    width: 30%;

  }

.z1 {
    position: absolute;
    transform: translate(4vw,22.5vh);
    width: 5%;
  }

.z2 {
    position: absolute;
    transform: translate(13vw,22.5vh);
    width: 10%;
 }

 .z3 {
    position: absolute;
    transform: translate(15vw,30.5vh);
    width: 5%;
 }

 .z4 {
    position: absolute;
    transform: translate(25.5vw,30.5vh);
    width: 10%;
 }

 .z5 {
    position: absolute;
    transform: translate(25.5vw,37vh);
    width: 10%;
 }

 .z6 {
    position: absolute;
    transform: translate(54vw,37vh);
    width: 10%;
 }

 .output {
    position: absolute;
    transform: translate(1vw,45vh);
    border-radius: 4px;
    vertical-align: text-bottom;
    scale: calc(width*0.5);
 }

  .output tr, td {
    height: 1px;
    text-align: left;
    font-weight: 500;
    box-sizing: content-box;
    vertical-align: text-bottom;

  }