/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
 
.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

[data-theme='dark'] .heroBanner {
  background-color: rgb(96, 96, 96);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 100%;
}

.box {
    width: 100%;
    background-color: #81b8d5;
    max-width:100%;
}

[data-theme='dark'] .box {
    background-color: rgb(96, 96, 96);
  }

@media screen and (max-width: 996px) {
    .Banner {
      padding: 2rem;
      top: 10%;
      max-width: fit-content;
    }
  }

.Banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10%;
    padding: 10%;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

Svg {
    scale: 150%;
    max-width: 90%;
}

.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 5vh;
    top: 15vh;
    margin-bottom: 5vh;
    width: 100%;
    height: 23vw;
    border-style:solid;
    border-width: 5px ;
    border-left: none;
    border-right: none;
    border-color:  var(--ifm-color-primary-lightest);

}

[data-theme='dark'] .overlay {
    border-color: rgb(31, 31, 31)
  }

