.rfNavbar .navbar {
    background-color: rgba(77,168,218,0.92);
    border-radius: 25px;
    width: 97%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    filter: blur(8px)
    -webkit-filter: blur(8px)
}

[data-theme='dark'] .rfNavbar .navbar {
    background-color: rgba(96, 96, 96, 0.92);
  }
