.red {
    color: red;
  }

.red[aria-selected='true'] {
    border-bottom-color: red;
  }
  
.orange {
    color: orange;
  }
.orange[aria-selected='true'] {
    border-bottom-color: orange;
  }

  .ethos {
    background-color: grey;
    width: 15%;
  }