/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4da8da;
  --ifm-color-primary-dark: #4295c8;
  --ifm-color-primary-darker: #2887c3;
  --ifm-color-primary-darkest: #007cc7;
  --ifm-color-primary-light: #56acda;
  --ifm-color-primary-lighter: #4da8da;
  --ifm-color-primary-lightest: #81b8d5;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #007cc7;
  --ifm-color-primary-dark: #0285d6;
  --ifm-color-primary-darker: #0186d8;
  --ifm-color-primary-darkest: #028ce1;
  --ifm-color-primary-light: #2887c3;
  --ifm-color-primary-lighter: #4295c8;
  --ifm-color-primary-lightest: #4da8da;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
